.QuizMain {
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
  }
  
  .QuizMain-header {
    width: 100%;
    background-color: #4a90e2;
    padding: 40px;
    color: white;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .QuizMain-title {
    margin: 0;
    font-size: 2em;
  }
  
  .QuizMain-info {
    position: absolute;
    bottom: 10px;
    right: 30px;
    margin: 0;
    font-size: 1em;
  }
  
  .QuizMain-main {
    background-color: #f4f4f9;
    color: #333;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  }
  
  .Quiz {
    border: 2px solid #4a90e2;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  